.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 5px;
}

.rectangle-container {
    /* Bold vertical line */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    justify-content: center;
    padding-bottom: 3%
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--text-color);
    /* Horizontal line */
    padding: 5px 0;
    /* Padding around the line */
    font-family: Neue Montreal;
    font-size: 16px;
}

.heading {
    text-align: left;
    font-family: Neue Montreal Bold;
    font-size: 200%;
}

.text-left {
    text-align: left;
    padding-left: 10px;
    font-size: 100%;
    font-family: Neue Montreal;
}

.text-right {
    text-align: right;
    padding-right: 10px;
    font-size: 100%;
}

.italic-text {
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: Neue Montreal Italic;
    font-size: 18px;
    text-align: left;
    color: var(--text-color);
}

.info-section {
    font-family: Neue Montreal;
    font-size: 16px;
    border-left: 5px solid var(--text-color);
    padding-left: 10px;
    padding-top: 3px;
    width: flex;
}

.round-rectangle {
    width: 90%;
    max-width: 600px;
    height: flex;
    border-radius: 20px;
    border-color: var(--text-color);
    border: 3px solid;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: Neue Montreal Medium;
    transition: border-color 1s ease;
}

.color-grid {
    display: grid;
    grid-template-columns: 9;
    grid-gap: 20px;
    width: 100px;
}

.color-row {
    display: flex;
    justify-content: center
}



@media only screen and (min-width: 800px) {
    .home-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .round-rectangle {
        width: 600px;
        height: flex;
        border-color: var(--text-color);
        transition: border-color 1s ease;
        border: 3px solid;
        background-color: transparent;

    }

    .rectangle-container {
        /* Bold vertical line */
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        /* Space between the line and the content */
    }

    .content-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid var(--text-color);
        /* Horizontal line */
        padding: 5px 0;
        /* Padding around the line */
        font-family: Neue Montreal;
        font-size: 16px;
    }

    .heading {
        text-align: left;
        font-family: Neue Montreal Bold;
        font-size: 60px;
    }

    .text-left {
        text-align: left;
        padding-left: 10px;
        font-size: 22px;
        font-family: Neue Montreal;
    }

    .text-right {
        text-align: right;
        padding-right: 10px;
        font-size: 22px;
    }

    .italic-text {
        padding-top: 3px;
        padding-bottom: 5px;
        padding-left: 10px;
        font-family: Neue Montreal Italic;
        font-size: 18px;
        text-align: left;
        color: var(--text-color);
    }

    .info-section {
        font-family: Neue Montreal;
        font-size: 16px;
        border-left: 5px solid var(--text-color);
        padding-left: 10px;
        padding-top: 5px;
        width: flex;
    }

    .color-grid {
        display: grid;
        grid-template-columns: 9;
        grid-gap: 20px;
        width: 100px;
    }

    .color-row {
        display: flex;
        justify-content: center
    }
}