* {
    transition: background-color 2s ease, color 2s ease, border-color 2s ease text-color 2s ease;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding-bottom: 4px;
}

.rectangle-container {
    /* Bold vertical line */
    padding-left: 4px;
    padding-right: 4px;
    justify-content: center;
    padding-bottom: 4px
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--text-color);
    transition: --text-color 2s ease;
    /* Horizontal line */
    padding: 2% 0;
    /* Padding around the line */
    font-family: Neue Montreal;
    font-size: 16px;
}

.heading {
    text-align: center;
    font-family: Neue Montreal Bold;
    font-size: 200%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.text-left {
    text-align: left;
    padding-left: 4%;
    font-size: 100%;
    font-family: Neue Montreal;
}

.text-right {
    text-align: right;
    padding-right: 4%;
    font-size: 100%;
}

.italic-text {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    font-family: Neue Montreal Italic;
    font-size: 18px;
    text-align: left;
    color: var(--text-color);
    transition: --text-color 2s ease;
}

.info-section {
    font-family: Neue Montreal;
    font-size: 16px;
    border-left: 5px solid var(--text-color);
    transition: --text-color 2s ease border-color 2s ease;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 24px;
    margin-bottom: 24px;
    width: flex;
}

.round-rectangle {
    width: 90%;
    max-width: 600px;
    height: flex;
    border-radius: 20px;
    border-color: var(--background-color);
    transition: border-color 2s ease;
    border: 0px solid;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: Neue Montreal Medium;
    transition: border-color 2s ease;
}


@media only screen and (min-width: 700px) {
    * {
        transition: background-color 2s ease, color 2s ease, border-color 2s ease text-color 2s ease;
    }

    .home-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;

    }

    .round-rectangle {
        width: 600px;
        height: flex;
        border-color: var(--text-color);
        transition: border-color 2s ease;
        border: 0px solid;
        background-color: transparent;

    }

    .rectangle-container {
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 4%;
    }

    .content-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid var(--text-color);
        /* Horizontal line */
        padding-top: 6px;
        padding-bottom: 6px;
        /* Padding around the line */
        font-family: Neue Montreal;
        font-size: 16px;
    }

    .heading {
        text-align: center;
        font-family: Neue Montreal Bold;
        font-size: 60px;
        margin-bottom: 24px;
        margin-top: 24px;
    }

    .text-left {
        text-align: left;
        padding-left: 10px;
        font-size: 22px;
        font-family: Neue Montreal;
    }

    .text-right {
        text-align: right;
        padding-right: 10px;
        font-size: 22px;
    }

    .italic-text {
        padding-top: 3px;
        padding-bottom: 5px;
        padding-left: 10px;
        font-family: Neue Montreal Italic;
        font-size: 18px;
        text-align: left;
        color: var(--text-color);
    }

    .info-section {
        font-family: Neue Montreal;
        font-size: 16px;

        border-left: 4px solid var(--text-color);
        margin-top: 24px;
        margin-bottom: 24px;

        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

        width: flex;
    }

    .color-grid {
        display: grid;
        grid-template-columns: 9;
        grid-gap: 20px;
        width: 100px;
    }
}