.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: flex;
    flex-direction: column;
    padding-top: 56px;
    padding-bottom: 5%;
}



.title-container {
    display: flex;
    align-items: top;
}

.about-item {
    width: 90%;
    max-width: 600px;
    height: flex;
    border-radius: 20px;
    border-color: var(--text-color);
    border: 3px solid;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 10px;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    font-family: Neue Montreal Medium;
    transition: border-color 1s ease;
    flex-direction: column;
    font-size: 16px;
}

.about-title {
    text-align: left;
    width: auto;
    justify-content: left;
    font-family: Neue Montreal Bold;
    font-size: 32px;
}

.superscript {
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    font-family: Neue Montreal;
}

.about-description {
    display: block;
    text-align: left;
}

.about-description a {
    color: inherit;
}

a {
    color: inherit;
}


@media only screen and (min-width: 800px) {
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: flex;
        flex-direction: column;
        padding-top: 64px;
    }

    .title-container {
        display: flex;
        align-items: top;
        width: fit-content;
    }

    .about-item {
        width: 180%;
        max-width: 600px;
        height: flex;
        border-radius: 20px;
        border-color: var(--text-color);
        border: 3px solid;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 10px;
        background-color: transparent;
        display: flex;
        align-items: flex-start;
        justify-content: left;
        font-family: Neue Montreal Medium;
        transition: border-color 1s ease;
        flex-direction: column;
        font-size: 16px;
    }

    .about-title {
        text-align: left;
        justify-content: left;
        font-family: Neue Montreal Bold;
        font-size: 32px;
    }

    .superscript {
        text-align: left;
        padding-left: 10px;
        font-size: 16px;
        font-family: Neue Montreal;
    }

    .about-description {
        display: block;
        text-align: left;
    }

    .about-description a {
        color: inherit;
    }

    a {
        color: inherit;
    }
}