@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@import './fonts/fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
header,
nav,
.footer,
.separator {
  transition: background-color 1s ease, color 1s ease, border 1s ease text-color 1s ease;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

:root {
  --text-color: #000000;
  --background-color: #eae2cc;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: var(--text-color);
}

nav {
  display: flex;
  align-items: left;
  justify-content: space-between;
  width: 100%;
  margin: 0px auto;
  padding-left: 3%;
  font-family: 'Roboto Mono';
  border-bottom: 2px solid var(--text-color)
}

footer {
  align-items: end;
  background-color: var(--background-color);
  border-top: 2px var(--text-color);
  position: fixed;
  width: 100%;
  bottom: 0;
}

button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 20%;
  background-color: transparent;
  cursor: pointer;
  width: 60%;
  padding-top: 15%;
  padding-bottom: 15%;
  font-family: 'Roboto Mono';
  text-decoration: none;
  border: none;
}

link-button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 20%;
  background-color: transparent;
  cursor: pointer;
  width: 160%;
  padding-top: 15%;
  padding-bottom: 15%;
  font-family: 'Roboto Mono';
  text-decoration: none;
  border: none;
}

/* content */

content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 15px 10px;
  min-height: calc(100vh - 34px);
}

.content h2 {
  margin-bottom: 1rem;
}

:root {
  --text-color: #000000;
  --background-color: #eae2cc;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.separator {
  background-color: var(--text-color);
}

@media only screen and (min-width: 800px) {

  body,
  header,
  nav,
  .footer,
  .separator {
    transition: background-color 1s ease, color 1s ease, border 1s ease;
  }

  body {
    font-family: 'Noto Serif';
    background-color: var(--background-color);
    color: var(--text-color);
  }

  header {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: var(--text-color);
  }

  nav {
    display: flex;
    align-items: left;
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px;
    font-family: 'Roboto Mono';
    border-bottom: 2px solid var(--text-color)
  }

  .footer {
    align-items: end;
    background-color: var(--background-color);
    border-top: 2px solid var(--text-color);
    padding-top: 4px;
    padding-bottom: 4px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    font-family: 'Roboto Mono';
    text-decoration: none;
    border: none;
  }

  .link-button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    font-family: 'Roboto Mono';
    text-decoration: none;
    border: none;
  }

  .menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin: 0px auto;
    padding: 0px 0px;
    gap: 80px;
    font-family: 'Roboto Mono';
    list-style: none;
  }

  .menu-items {
    position: relative;
    font-size: 14px;
  }

  button span {
    margin-left: 10px;
  }

  /* content */

  content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px 10px;
    flex: 1;
  }

  .content h2 {
    margin-bottom: 1rem;
  }

  :root {
    --text-color: #000000;
    --background-color: #eae2cc;
  }

  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }

  .separator {
    background-color: var(--text-color);
  }

  .color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 6px solid;
    cursor: pointer;
    padding-left: 10px;
  }
}